<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "css/tailwind.css" | relURL }}">
  <meta property="og:url" content="https://www.nycrypto.co/">
  <meta property="og:title" content="NYCrypto">
  <meta property="og:description" content="We are moving to a decentralized multi-chain world and Tidus Wallet will be the easiest way to access it. Simplifying crypto investing and DeFi while educating users and minimizing risk.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.nycrypto.co/images/social-cards/nycrypto_social-default.jpg">
  <meta name="author" content="NYCrypto">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nycryptoco">
  <meta name="twitter:creator" content="@nycryptoco">
  <meta name="twitter:title" content="NYCrypto home of the Tidus Wallet">
  <meta name="twitter:description" content="nycrypto is a knowledge hub and technology company that provides its users with resources and tools for safe, easy interaction with decentralized finance as well as the meta-verse. We do this by providing educational content about the world of cryptocurrencies, blockchain technologies, and decentralized applications. Our goal is to make it easier for people to understand how crypto works so they can make educated decisions when investing in new technologies or using different platforms.">
  <meta name="twitter:image" content="https://www.nycrypto.co/images/social-cards/nycrypto_social-default.jpg">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C15YFM8D9P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C15YFM8D9P');
  </script>
</head>
<body>
  {{ partial "header.html" }}    
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>
