<section class="bg-white dark:bg-gray-900">
    <!-- Lead-in to features section -->
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16 text-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">B2B Services</h2>
        <p class="font-normal text-lg text-gray-500 sm:text-xl md:px-20 lg:px-38 xl:px-48 dark:text-gray-400">We offer comprehensive software development, UX design, and API services for developers, projects, and businesses of all sizes.</p>
    </div>
    <!-- Alternating cards -->
    <!-- Row -->
    <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6">
        <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
            <img class="hidden mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-2.png" alt="office feature image 2">
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Wallet-as-a-Service (WaaS)</h2>
                <p class="mb-2 font-light lg:text-xl">NYCrypto is proud to offer a variety of WaaS products, including Mobile DAO Tooling, Dapp Integrations, and a multude of API offerings. </p>
                <!-- List -->   
                {{ partial "services-accordion.html" }}
            </div>
        </div>

        <!-- Lead-in to Projects Section -->

        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16 text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Projects</h2>
            <p class="font-normal text-lg text-gray-500 sm:text-xl md:px-20 lg:px-38 xl:px-48 dark:text-gray-400">NYCrypto is building products that make blockchain and web3 <strong>accessible</strong> and <strong>understandable</strong> to everyone.</p>
        </div>

        <!-- Row -->
        <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">The Crypto everything app.</h2>
                <p class="mb-2 font-light lg:text-xl">A cutting-edge, secure, and user-centric decentralized wallet, meticulously designed to offer an intuitive experience for new comers and power users.</p>
                <!-- List -->
                {{ partial "tidus-accordion.html" }}
            </div>
            <img class="hidden mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-1.png" alt="office feature image">
        </div>
    </div>
</section>

{{ partial "what-powers-tidus.html" }}

{{ partial "upcoming-projects.html" }}